/create_face_model/__pycache__
/create_face_model/opencv
/create_face_model/opencv_contrib
/create_face_model/mqoloader/__pycache__

/create_face_model/mqodata/mesh/*
!/create_face_model/mqodata/mesh/.gitkeep

/create_face_model/mqodata/landmark/*
!/create_face_model/mqodata/landmark/.gitkeep

/create_face_model/mqodata/landmark3d/*
!/create_face_model/mqodata/landmark3d/.gitkeep

/create_face_model/mqodata/model/*
!/create_face_model/mqodata/model/.gitkeep

/create_face_model/mqodata/output/*
!/create_face_model/mqodata/output/.gitkeep

/render_face_model
/prior_research
/test

# Python キャッシュ
__pycache__/
*.pyc
*.pyo
*.pyd
