apache-beam==2.56.0
glfw==2.7.0
insightface==0.7.3
matplotlib==3.9.1
mecab-python3==1.0.9
mediapipe==0.10.14
mediapy==1.2.2
ml-dtypes==0.3.2
natsort==8.4.0
numpy==1.26.4
onnx==1.16.1
onnxruntime==1.18.0
opencv-python==4.10.0.84
pandas==2.2.1
pillow==10.3.0
PyAudio==0.2.14
pydub==0.25.1
pykakasi==2.3.0
PyOpenGL==3.1.5
SpeechRecognition==3.10.4
tensorflow==2.16.1
TkEasyGUI==0.2.69
tqdm==4.66.4
ultralytics==8.2.30